ul {
	list-style-type: none;
	text-align:center
}

ul a{
	text-decoration: none;
	color:#fff;
}

nav{
	background: #000;
	opacity: 0.5;
	text-align: center;
	padding:10px 0;
}

body{
	margin:0;
	font-family: Arial
}

li {
	display:inline
}	

nav{
	background: #000;
	opacity: 0.5;
	text-align: center;
	padding:10px 0;
}

nav ul li{
	display:inline;
	margin: 0 100px;
}
